body {
  background-color: rgb(196, 213, 235);
}

h1 a {
    color: #FCA205;
    font-family: 'Georgia';
}

.jumbotron{
  background-color: white;
}

.jumbotron.text-center{
  color: rgb(0, 102, 153);
  text-align: center;
  font-size: 50px;
  font-family: arial black;
}

.container-fluid{
  background-color: rgb(196, 213, 235);
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: arial black;
}

.navbar-nav{
  background-color: rgb(196, 213, 235);
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: arial black;
}

li.active:hover{
  background-color: rgb(0, 102, 153);
  color: white;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Arial Black';
}

.submit {
    /*float: right;*/
    padding: 20px,
}

.recipe-form textarea, .recipe-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: rgb(0, 102, 153);
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.recipe {
    margin-bottom: 70px;
}

.recipe h1 a, .recipe h1 a:visited {
    color: #000000;
}
