{% extends 'fridge/base.html' %}

{% block content %}
<html>
  <body>
    <h1>Hi everyone welcome to this page.</h1>
    <br><br>
    <h2>What is it?</h2><br>
    <h3>MyFridge is a project designed to digitally store recipes and help one manage their refrigerator. We are inspired to make this because often we see families order takeout or eat out but its not healthy to eat out everyday so we decided to create a website that can help you with that. On our website you can add items to your online fridge that correspond with the items in ones actual fridge, and check when they'll expire. When recipes are added to the website they are saved.</h3><br><br><br>
    <h2>Who/Where?</h2><br>
    <h3>Our group consists of Ella, Bian, Nazia, Nysa. We are a diverse group of female beginner coders based in NYC.</h3>
  </body>

</html>
{% endblock %}
