{% load staticfiles %}

<html>
  <head>
      <title>My Fridge</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/fridge.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">MyFridge</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
          <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="{% url 'my_fridge' %}"><span class="glyphicon glyphicon-cutlery"></span></a></li>
          <!-- <li><a href="https://ellacharlottecorn.github.io/myfridge/map.html">Food Around The World</a></li> -->
          <li><a href="{% url 'recipe_new' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
          <!-- <li><a href="https://ellacharlottecorn.github.io/myfridge/myProfile.html">My Profile</a></li> -->
        </ul>
      </div>
    </nav>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    
  </body>
</html>
