{% extends 'fridge/base.html' %}

{% block content %}
  <h1>My Fridge</h1>

  {% for item in food %}
    <!-- <form method="POST" class="recipe-form">{% csrf_token %}
      {{ food_form.as_ul }}
      <button type="submit" class="submit btn btn-default">Save</button>
      <button type="submit" class="submit btn btn-default" name="delete">Delete</button>
    </form>
    <br /> -->

    Name: {{ item.name }} <br />
    Type: {{ item.food_type }} <br />
    Food expires: {{ item.expiration_date }} <br />
    <button type="submit" class="submit btn btn-default" name="delete">Delete</button> <br />

  {% endfor %}

  <br />

  <form method="POST" class="recipe-form">{% csrf_token %}
    {{ food_form.as_p }}
    <button type="submit" class="submit btn btn-default">Save</button>
    <!-- <button type="submit" class="submit btn btn-default" name="delete">Delete</button> -->
  </form>


{% endblock %}
