{% extends 'fridge/base.html' %}

{% block content %}
  <h1>My Fridge</h1>


  <br />
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Add New Item</h3><br>
      <form method="POST">{% csrf_token %}
        {{ food_form.as_p }}
        <button type="submit" class="submit btn btn-default">Save</button>
        <!-- <button type="submit" class="submit btn btn-default" name="delete">Delete</button> -->
      </form>
    </div>
    <div class="col-sm-4">
      <h3>Current Items</h3><br>
      {% for food in foods %}
        Name: {{ food.name }} <br />
        Type: {{ food.food_type }} <br />
        Food expires: {{ food.expiration_date }} <br />
        <form method="POST">{% csrf_token %}
          <button type="submit" class="submit btn btn-default" name="{{ food.name }}">Delete</button> <br />
        </form>
      {% endfor %}
    </div>
    <div class="col-sm-2">
      <h3>Select</h3><br>
      <input type="checkbox" value="">
    </div>
  </div>
</div>


{% endblock %}
